sop-platform/n8n-workflows/2a_sharepoint_connection.json
{
  "name": "SOP Pipeline — 2a+2b SharePoint to Azure Blob",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "f95a5030-86d1-4535-9ee7-b90f08fa7416",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2016, 336]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "site-name",
              "name": "SITE_NAME",
              "value": "Saara",
              "type": "string"
            },
            {
              "id": "library-name",
              "name": "LIBRARY_NAME",
              "value": "Documents",
              "type": "string"
            },
            {
              "id": "folder-path",
              "name": "FOLDER_PATH",
              "value": "Infomate/SOP",
              "type": "string"
            },
            {
              "id": "f2a30843-04eb-4801-bd13-1ffb1bc274ce",
              "name": "SUPABASE_URL",
              "value": "https://hzluuqhbkiblmojxgbab.supabase.co",
              "type": "string"
            },
            {
              "id": "cadc780d-9a5d-4516-8990-a4405c33f0c0",
              "name": "SUPABASE_ANON_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDAyNDYsImV4cCI6MjA4OTM3NjI0Nn0.zJErIoi_PlbalqrwW30MtiF05Zxa1yH1MywVJAJMhGY",
              "type": "string"
            },
            {
              "id": "18ee7965-4a69-4134-a989-96c58b50f53e",
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgwMDI0NiwiZXhwIjoyMDg5Mzc2MjQ2fQ.YSNsIxY-pwMKOATmYvA1QkOccO2k_uxY7hb7QNL5x5o",
              "type": "string"
            },
            {
              "id": "2f85665d-3a54-40bc-bdca-da2a52070b6d",
              "name": "AZURE_BLOB_SAS_TOKEN",
              "value": "sv=2024-11-04&ss=bfqt&srt=co&sp=rwdlacuptfx&se=2026-05-29T19:34:00Z&st=2026-03-19T11:19:00Z&spr=https&sig=bZSDd5DD751V7rlhHyRNjVyWkJRxUrr7vyxgho6YdYk%3D",
              "type": "string"
            },
            {
              "id": "78ea8597-ccb9-49f3-8f51-555426b9f19d",
              "name": "AZURE_BLOB_ACCOUNT",
              "value": "cnavinfsop",
              "type": "string"
            },
            {
              "id": "4f26b950-c289-4d86-aae5-92869d02b2be",
              "name": "AZURE_BLOB_CONTAINER",
              "value": "infsop",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8bdf9131-bc6f-4a74-ad23-f85aa89fb04d",
      "name": "Setup Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-1776, 336],
      "notes": "All config here — SharePoint paths, Supabase keys, Azure Blob details. No changes needed anywhere else."
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/sites/root",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "d92cebc0-7829-403c-a675-93b23c2b71d3",
      "name": "Get Root Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1536, 336],
      "credentials": {
        "oAuth2Api": {
          "id": "YG5RaQSSWryP5CTP",
          "name": "Saara - Sharepoint"
        }
      },
      "notes": "Gets the root SharePoint site to extract the tenant domain (e.g. cloudnavision.sharepoint.com)."
    },
    {
      "parameters": {
        "jsCode": "const rootSite = $input.all()[0].json;\n\nif (!rootSite || !rootSite.id) {\n  throw new Error('Could not get root site — check Saara - Sharepoint credential');\n}\n\nconst webUrl = rootSite.webUrl || '';\nconst match = webUrl.match(/https:\\/\\/([^.]+\\.sharepoint\\.com)/);\nconst tenantDomain = match ? match[1] : null;\n\nif (!tenantDomain) {\n  throw new Error(`Could not extract tenant domain from webUrl: ${webUrl}`);\n}\n\nconst targetSiteName = $('Setup Config').item.json.SITE_NAME;\n\nreturn [{\n  json: {\n    tenantDomain,\n    targetSiteName,\n    constructedSiteUrl: `https://${tenantDomain}/sites/${targetSiteName}`,\n    rootSiteId: rootSite.id\n  }\n}];"
      },
      "id": "69a59df1-f1e9-4e18-9d40-bfa4f5468cdb",
      "name": "Analyze Root Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1296, 336]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.tenantDomain }}:/sites/{{ $('Setup Config').item.json.SITE_NAME }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "afb85e98-dc81-408d-b54d-10c554b5bbef",
      "name": "Access Saara Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1056, 336],
      "credentials": {
        "oAuth2Api": {
          "id": "YG5RaQSSWryP5CTP",
          "name": "Saara - Sharepoint"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.id }}/drives",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "3b8828ae-9640-4bef-b30b-94d52ba48b15",
      "name": "Get Document Libraries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-816, 336],
      "credentials": {
        "oAuth2Api": {
          "id": "YG5RaQSSWryP5CTP",
          "name": "Saara - Sharepoint"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const drives = $input.all()[0].json.value || [];\nconst targetLibraryName = $('Setup Config').item.json.LIBRARY_NAME;\n\nlet targetDrive = drives.find(drive =>\n  drive.name && drive.name.toLowerCase() === targetLibraryName.toLowerCase()\n);\n\nif (!targetDrive) {\n  const fallbacks = ['Documents', 'Shared Documents', 'Document Library'];\n  targetDrive = drives.find(drive =>\n    fallbacks.some(name =>\n      drive.name && drive.name.toLowerCase().includes(name.toLowerCase())\n    )\n  );\n}\n\nif (!targetDrive) {\n  throw new Error(`Library \"${targetLibraryName}\" not found. Available: ${drives.map(d => d.name).join(', ')}`);\n}\n\nreturn [{\n  json: {\n    driveId: targetDrive.id,\n    driveName: targetDrive.name,\n    siteId: $('Access Saara Site').item.json.id\n  }\n}];"
      },
      "id": "41643146-d691-49df-a53b-68da260a70e9",
      "name": "Find Documents Library",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-576, 336]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.siteId }}/drives/{{ $json.driveId }}/root:/{{ $('Setup Config').item.json.FOLDER_PATH }}:/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$orderby",
              "value": "lastModifiedDateTime desc"
            },
            {
              "name": "$select",
              "value": "id,name,size,lastModifiedDateTime,file,folder,webUrl,createdDateTime"
            }
          ]
        },
        "options": {}
      },
      "id": "46eb0f59-6103-4344-b62f-000cb8e9a6f7",
      "name": "List SOP Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-336, 336],
      "credentials": {
        "oAuth2Api": {
          "id": "YG5RaQSSWryP5CTP",
          "name": "Saara - Sharepoint"
        }
      },
      "notes": "@microsoft.graph.downloadUrl is returned automatically for file items even though it's not in $select."
    },
    {
      "parameters": {
        "url": "={{ $('Setup Config').item.json.SUPABASE_URL }}/rest/v1/processed_sharepoint_files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "file_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').item.json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Setup Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7db6b83e-901f-4d97-9702-af2406278ddb",
      "name": "Get Processed Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-96, 336],
      "alwaysOutputData": true,
      "notes": "Returns file_ids already processed — used to skip re-processing."
    },
    {
      "parameters": {
        "jsCode": "// $input.all()              → processed_sharepoint_files rows from Supabase\n// $('List SOP Files').all() → Graph API response ({ value: [...] })\n\nconst processedIds = new Set(\n  $input.all()\n    .map(item => item.json.file_id)\n    .filter(Boolean)\n);\n\nconst allItems = $('List SOP Files').all()[0]?.json?.value ?? [];\n\nif (allItems.length === 0) {\n  return [{ json: { hasNewFiles: false, count: 0 } }];\n}\n\n// Keep only MP4 files (skip folders and non-MP4)\nconst mp4Files = allItems.filter(item => {\n  if (item.folder) return false;\n  const byMime = item.file?.mimeType === 'video/mp4';\n  const byExt  = typeof item.name === 'string' && item.name.toLowerCase().endsWith('.mp4');\n  return byMime || byExt;\n});\n\n// Keep only files not yet in processed_sharepoint_files\nconst newFiles = mp4Files.filter(file => !processedIds.has(file.id));\n\nif (newFiles.length === 0) {\n  return [{ json: { hasNewFiles: false, count: 0 } }];\n}\n\n// Pass siteId/driveId through for the Download node URL\nconst siteId  = $('Find Documents Library').first().json.siteId;\nconst driveId = $('Find Documents Library').first().json.driveId;\n\nreturn newFiles.map(file => ({\n  json: {\n    hasNewFiles:        true,\n    sharepoint_file_id: file.id,\n    file_name:          file.name,\n    file_size_bytes:    file.size ?? 0,\n    last_modified:      file.lastModifiedDateTime ?? null,\n    download_url:       file['@microsoft.graph.downloadUrl'] ?? null,\n    siteId,\n    driveId\n  }\n}));"
      },
      "id": "b74b9afb-b309-4571-a1aa-ca772e050443",
      "name": "Filter New MP4 Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 336]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-new",
              "leftValue": "={{ $json.hasNewFiles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b616cc2-4031-4232-8275-2608ef1936eb",
      "name": "Any New Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [384, 336]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a2c1e493-9608-4957-90dc-d4d1b3a7d9ea",
      "name": "Process One File At a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 64],
      "notes": "Output 0 = all done (loop ends). Output 1 = one file per batch → Download node."
    },
    {
      "parameters": {},
      "id": "760373f6-b925-4950-92a7-30ff5be912e2",
      "name": "No New Files — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [624, 496]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.siteId }}/drives/{{ $json.driveId }}/items/{{ $json.sharepoint_file_id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 300000
        }
      },
      "id": "df61d06e-116f-4d82-9892-2e0f95ed177e",
      "name": "Download from SharePoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [976, 192],
      "credentials": {
        "oAuth2Api": {
          "id": "YG5RaQSSWryP5CTP",
          "name": "Saara - Sharepoint"
        }
      },
      "notes": "Downloads video binary via Graph API /content. Binary stored in binary.data. 5-min timeout for large files."
    },
    {
      "parameters": {
        "jsCode": "// Generate UUID without crypto module (n8n cloud blocks it)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst batchItem = $('Process One File At a Time').first().json;\n\nconst sopId    = uuid();\nconst fileName = batchItem.file_name || 'recording.mp4';\nconst fileSize = batchItem.file_size_bytes || 0;\nconst spFileId = batchItem.sharepoint_file_id;\n\n// Clean filename for title\nconst cleanName = fileName\n  .replace(/\\.(mp4|mkv|avi|mov|webm|wmv)$/i, '')\n  .replace(/[_-]/g, ' ')\n  .trim();\n\nconst ext = fileName.split('.').pop().toLowerCase();\nconst mimeMap = {\n  'mp4': 'video/mp4',\n  'mkv': 'video/x-matroska',\n  'avi': 'video/x-msvideo',\n  'mov': 'video/quicktime',\n  'webm': 'video/webm',\n  'wmv': 'video/x-ms-wmv'\n};\nconst mimeType = mimeMap[ext] || 'video/mp4';\n\nconst blobAccount   = $('Setup Config').first().json.AZURE_BLOB_ACCOUNT;\nconst blobContainer = $('Setup Config').first().json.AZURE_BLOB_CONTAINER;\n\nreturn [{\n  json: {\n    sop_id:             sopId,\n    file_name:          fileName,\n    file_size_bytes:    fileSize,\n    sharepoint_file_id: spFileId,\n    mime_type:          mimeType,\n    blob_url:           `https://${blobAccount}.blob.core.windows.net/${blobContainer}/${sopId}/original.${ext}`,\n    title:              `${cleanName} — Knowledge Transfer`,\n    meeting_date:       new Date().toISOString().split('T')[0]\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "d709b6ab-ddbb-420e-860f-39a41b00f136",
      "name": "Generate SOP ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 192],
      "notes": "Generates UUID for new SOP, builds Azure Blob URL, cleans filename for title. Passes binary data through for upload."
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.blob_url }}?{{ $('Setup Config').item.json.AZURE_BLOB_SAS_TOKEN }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ms-blob-type",
              "value": "BlockBlob"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.mime_type }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "id": "91e88adc-b610-4678-83a3-3c011d421c86",
      "name": "Upload to Azure Blob",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1472, 192],
      "alwaysOutputData": true,
      "notes": "Azure Blob PUT returns HTTP 201 with empty body — this is normal/success. alwaysOutputData=true ensures the workflow continues."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Config').item.json.SUPABASE_URL }}/rest/v1/sops",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').item.json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Setup Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"id\": \"{{ $('Generate SOP ID').first().json.sop_id }}\",\n  \"title\": \"{{ $('Generate SOP ID').first().json.title }}\",\n  \"status\": \"processing\",\n  \"video_url\": \"{{ $('Generate SOP ID').first().json.blob_url }}\",\n  \"video_file_size_bytes\": {{ $('Generate SOP ID').first().json.file_size_bytes }},\n  \"meeting_date\": \"{{ $('Generate SOP ID').first().json.meeting_date }}\"\n}",
        "options": {}
      },
      "id": "db46bc56-e122-495e-a8c8-709894c48bea",
      "name": "Create SOP Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1696, 192],
      "notes": "Creates the SOP record in Supabase with status='processing'. References Generate SOP ID node since Azure Blob PUT returns empty body."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Config').item.json.SUPABASE_URL }}/rest/v1/processed_sharepoint_files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').item.json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Setup Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"file_id\": \"{{ $('Generate SOP ID').first().json.sharepoint_file_id }}\",\n  \"file_name\": \"{{ $('Generate SOP ID').first().json.file_name }}\",\n  \"file_size_bytes\": {{ $('Generate SOP ID').first().json.file_size_bytes }},\n  \"sop_id\": \"{{ $('Generate SOP ID').first().json.sop_id }}\"\n}",
        "options": {}
      },
      "id": "e3a1f2b4-7c8d-4e9f-a0b1-c2d3e4f5a6b7",
      "name": "Mark File as Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2144, 192],
      "notes": "Inserts into processed_sharepoint_files so the file is skipped on future runs. Without this, the same file re-uploads every 15 minutes."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Config').item.json.SUPABASE_URL }}/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').item.json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Setup Config').item.json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"sop_id\": \"{{ $('Generate SOP ID').first().json.sop_id }}\",\n  \"status\": \"transcribing\",\n  \"current_stage\": \"transcribing\"\n}",
        "options": {}
      },
      "id": "d51248eb-e761-469c-ba78-9bbf750a728a",
      "name": "Create Pipeline Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 192],
      "alwaysOutputData": true,
      "notes": "Creates pipeline_runs record. Phase 2c (Gemini) will PATCH this with token counts and cost."
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Setup Config", "type": "main", "index": 0 }]
      ]
    },
    "Setup Config": {
      "main": [
        [{ "node": "Get Root Site", "type": "main", "index": 0 }]
      ]
    },
    "Get Root Site": {
      "main": [
        [{ "node": "Analyze Root Site", "type": "main", "index": 0 }]
      ]
    },
    "Analyze Root Site": {
      "main": [
        [{ "node": "Access Saara Site", "type": "main", "index": 0 }]
      ]
    },
    "Access Saara Site": {
      "main": [
        [{ "node": "Get Document Libraries", "type": "main", "index": 0 }]
      ]
    },
    "Get Document Libraries": {
      "main": [
        [{ "node": "Find Documents Library", "type": "main", "index": 0 }]
      ]
    },
    "Find Documents Library": {
      "main": [
        [{ "node": "List SOP Files", "type": "main", "index": 0 }]
      ]
    },
    "List SOP Files": {
      "main": [
        [{ "node": "Get Processed Files", "type": "main", "index": 0 }]
      ]
    },
    "Get Processed Files": {
      "main": [
        [{ "node": "Filter New MP4 Files", "type": "main", "index": 0 }]
      ]
    },
    "Filter New MP4 Files": {
      "main": [
        [{ "node": "Any New Files?", "type": "main", "index": 0 }]
      ]
    },
    "Any New Files?": {
      "main": [
        [{ "node": "Process One File At a Time", "type": "main", "index": 0 }],
        [{ "node": "No New Files — Stop", "type": "main", "index": 0 }]
      ]
    },
    "Process One File At a Time": {
      "main": [
        [],
        [{ "node": "Download from SharePoint", "type": "main", "index": 0 }]
      ]
    },
    "Download from SharePoint": {
      "main": [
        [{ "node": "Generate SOP ID", "type": "main", "index": 0 }]
      ]
    },
    "Generate SOP ID": {
      "main": [
        [{ "node": "Upload to Azure Blob", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Azure Blob": {
      "main": [
        [{ "node": "Create SOP Record", "type": "main", "index": 0 }]
      ]
    },
    "Create SOP Record": {
      "main": [
        [{ "node": "Create Pipeline Run", "type": "main", "index": 0 }]
      ]
    },
    "Create Pipeline Run": {
      "main": [
        [{ "node": "Mark File as Processed", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": ["sop-pipeline", "phase-2", "sharepoint", "azure-blob"],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44d8d2090dfb7e25516b2bba600ce185adb6e19152f8e5fbccb5c4a8e2404fdc"
  },
  "notes": "=== SETUP ===\n\n1. Credential: 'Saara - Sharepoint' (oAuth2Api) — re-select on all SharePoint HTTP nodes after import.\n\n2. All config is in Setup Config node — already filled in with real values.\n\n=== REQUIRED SUPABASE TABLE ===\n\n  CREATE TABLE IF NOT EXISTS processed_sharepoint_files (\n    id              uuid PRIMARY KEY DEFAULT gen_random_uuid(),\n    file_id         text NOT NULL UNIQUE,\n    file_name       text NOT NULL,\n    file_size_bytes bigint,\n    processed_at    timestamptz NOT NULL DEFAULT now(),\n    sop_id          uuid REFERENCES sops(id) ON DELETE SET NULL\n  );\n  CREATE INDEX idx_processed_sharepoint_files_file_id ON processed_sharepoint_files(file_id);\n\n=== NOTES ===\n\n- Azure Blob PUT (Upload to Azure Blob) returns HTTP 201 with empty body — this is normal success.\n- Create SOP Record and Create Pipeline Run reference Generate SOP ID node directly since Azure returns no body.\n- Phase 2c connects after Create Pipeline Run to run Gemini transcription."
}
