sop-platform/n8n-workflows/Saara - SOP_Workflow 4 - Extract Clips.json
{
  "name": "Saara - SOP_Workflow 4 - Extract Clips",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "cf4a1001-0001-4000-8000-000000000001",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "SUPABASE_URL",
              "value": "https://hzluuqhbkiblmojxgbab.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "SUPABASE_ANON_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDAyNDYsImV4cCI6MjA4OTM3NjI0Nn0.zJErIoi_PlbalqrwW30MtiF05Zxa1yH1MywVJAJMhGY",
              "type": "string"
            },
            {
              "id": "cfg-003",
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgwMDI0NiwiZXhwIjoyMDg5Mzc2MjQ2fQ.YSNsIxY-pwMKOATmYvA1QkOccO2k_uxY7hb7QNL5x5o",
              "type": "string"
            },
            {
              "id": "cfg-004",
              "name": "AZURE_BLOB_SAS_TOKEN",
              "value": "sv=2024-11-04&ss=bfqt&srt=co&sp=rwdlacuptfx&se=2026-05-29T19:34:00Z&st=2026-03-19T11:19:00Z&spr=https&sig=bZSDd5DD751V7rlhHyRNjVyWkJRxUrr7vyxgho6YdYk%3D",
              "type": "string"
            },
            {
              "id": "cfg-005",
              "name": "AZURE_ACCOUNT",
              "value": "cnavinfsop",
              "type": "string"
            },
            {
              "id": "cfg-006",
              "name": "AZURE_CONTAINER",
              "value": "infsop",
              "type": "string"
            },
            {
              "id": "cfg-007",
              "name": "EXTRACTOR_BASE_URL",
              "value": "https://soptest.cloudnavision.com",
              "type": "string"
            },
            {
              "id": "cfg-008",
              "name": "EXTRACTOR_INTERNAL_KEY",
              "value": "269d3319d2cc891682a5aba6434a51734fea42a03e07e5c6323c3e88e2094ce4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf4a1001-0002-4000-8000-000000000002",
      "name": "Setup Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.generating_annotations" },
            { "name": "select", "value": "id,sop_id" },
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "cf4a1001-0003-4000-8000-000000000003",
      "name": "Poll Pending Clips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf4a1001-0004-4000-8000-000000000004",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {},
      "id": "cf4a1001-0005-4000-8000-000000000005",
      "name": "No Work — Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "jsCode": "const run = $input.first().json;\nconst config = $('Setup Config').first().json;\n\nreturn [{\n  json: {\n    pipeline_run_id: run.id,\n    sop_id: run.sop_id,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_ANON_KEY: config.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: config.SUPABASE_SERVICE_ROLE_KEY,\n    AZURE_BLOB_SAS_TOKEN: config.AZURE_BLOB_SAS_TOKEN,\n    AZURE_ACCOUNT: config.AZURE_ACCOUNT,\n    AZURE_CONTAINER: config.AZURE_CONTAINER,\n    EXTRACTOR_BASE_URL: config.EXTRACTOR_BASE_URL,\n    EXTRACTOR_INTERNAL_KEY: config.EXTRACTOR_INTERNAL_KEY,\n  }\n}];"
      },
      "id": "cf4a1001-0006-4000-8000-000000000006",
      "name": "Extract Run Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/sops",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.sop_id }}" },
            { "name": "select", "value": "video_url" }
          ]
        },
        "options": {}
      },
      "id": "cf4a1001-0014-4000-8000-000000000014",
      "name": "Get Video URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extract Run Info').first().json.SUPABASE_URL }}/rest/v1/sop_steps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Extract Run Info').first().json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Extract Run Info').first().json.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sop_id", "value": "=eq.{{ $('Extract Run Info').first().json.sop_id }}" },
            { "name": "select", "value": "id,sequence,timestamp_start" },
            { "name": "order", "value": "sequence.asc" }
          ]
        },
        "options": {}
      },
      "id": "cf4a1001-0007-4000-8000-000000000007",
      "name": "Get SOP Steps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const steps = $input.all().map(i => i.json);\nconst runInfo = $('Extract Run Info').first().json;\nconst videoUrl = $('Get Video URL').first().json.video_url;\n\nconst MAX_CLIP_DURATION = 60;\n\nconst clips = steps.map((step, idx) => {\n  const start_sec = step.timestamp_start;\n  const nextStep = steps[idx + 1];\n  const rawEnd = nextStep ? nextStep.timestamp_start : start_sec + MAX_CLIP_DURATION;\n  const end_sec = Math.min(rawEnd, start_sec + MAX_CLIP_DURATION);\n  return {\n    step_id: step.id,\n    sequence: step.sequence,\n    start_sec: start_sec,\n    end_sec: end_sec,\n  };\n});\n\nreturn [{\n  json: {\n    clipRequestBody: {\n      sop_id: runInfo.sop_id,\n      video_url: videoUrl + '?' + runInfo.AZURE_BLOB_SAS_TOKEN,\n      clips: clips,\n      azure_sas_token: runInfo.AZURE_BLOB_SAS_TOKEN,\n      azure_account: runInfo.AZURE_ACCOUNT,\n      azure_container: runInfo.AZURE_CONTAINER,\n    }\n  }\n}];"
      },
      "id": "cf4a1001-0008-4000-8000-000000000008",
      "name": "Build Clip Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract Run Info').first().json.EXTRACTOR_BASE_URL }}/api/clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-key", "value": "={{ $('Extract Run Info').first().json.EXTRACTOR_INTERNAL_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.clipRequestBody) }}",
        "options": { "timeout": 30000 }
      },
      "id": "cf4a1001-0009-4000-8000-000000000009",
      "name": "Call Clip Extractor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "const callResult = $input.first().json;\nconst runInfo = $('Extract Run Info').first().json;\n\nif (!callResult.job_id) {\n  throw new Error('No job_id returned from /api/clip: ' + JSON.stringify(callResult));\n}\n\nreturn [{\n  json: {\n    job_id: callResult.job_id,\n    EXTRACTOR_BASE_URL: runInfo.EXTRACTOR_BASE_URL,\n    EXTRACTOR_INTERNAL_KEY: runInfo.EXTRACTOR_INTERNAL_KEY,\n  }\n}];"
      },
      "id": "cf4a1001-0015-4000-8000-000000000015",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 15,
        "unit": "seconds"
      },
      "id": "cf4a1001-0016-4000-8000-000000000016",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "cf4a1001-wait1-4000-8000-000000000016",
      "position": [2440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Extract Run Info').first().json.EXTRACTOR_BASE_URL }}/api/clip/status/{{ $json.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-key", "value": "={{ $('Extract Run Info').first().json.EXTRACTOR_INTERNAL_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "cf4a1001-0017-4000-8000-000000000017",
      "name": "Poll Clip Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\n\nif (job.status === 'failed') {\n  throw new Error('Clip extraction failed: ' + (job.error || 'unknown error'));\n}\n\nreturn [{ json: job }];"
      },
      "id": "cf4a1001-0018-4000-8000-000000000018",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-job-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf4a1001-0019-4000-8000-000000000019",
      "name": "Clip Job Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst data = response.result ? response.result : response;\n\nif (!data.clips || !Array.isArray(data.clips)) {\n  throw new Error('Invalid clip response: ' + JSON.stringify(response));\n}\n\nreturn data.clips.map(clip => ({\n  json: {\n    step_id: clip.step_id,\n    clip_url: clip.clip_url,\n    duration_sec: clip.duration_sec,\n    file_size_bytes: clip.file_size_bytes,\n  }\n}));"
      },
      "id": "cf4a1001-0010-4000-8000-000000000010",
      "name": "Process Clip Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 140]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cf4a1001-0011-4000-8000-000000000011",
      "name": "Split Clips",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Config').first().json.SUPABASE_URL }}/rest/v1/step_clips",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Setup Config').first().json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Setup Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ step_id: $json.step_id, clip_url: $json.clip_url, duration_sec: $json.duration_sec, file_size_bytes: $json.file_size_bytes }) }}",
        "options": {}
      },
      "id": "cf4a1001-0012-4000-8000-000000000012",
      "name": "Insert Step Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 180]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Setup Config').first().json.SUPABASE_URL }}/rest/v1/pipeline_runs?id=eq.{{ $('Extract Run Info').first().json.pipeline_run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Setup Config').first().json.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Setup Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"generating_sections\", \"current_stage\": \"clips_complete\"}",
        "options": {}
      },
      "id": "cf4a1001-0013-4000-8000-000000000013",
      "name": "Update Pipeline Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3760, 420]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [[{ "node": "Setup Config", "type": "main", "index": 0 }]]
    },
    "Setup Config": {
      "main": [[{ "node": "Poll Pending Clips", "type": "main", "index": 0 }]]
    },
    "Poll Pending Clips": {
      "main": [[{ "node": "Any Pending?", "type": "main", "index": 0 }]]
    },
    "Any Pending?": {
      "main": [
        [{ "node": "Extract Run Info", "type": "main", "index": 0 }],
        [{ "node": "No Work — Stop", "type": "main", "index": 0 }]
      ]
    },
    "Extract Run Info": {
      "main": [[{ "node": "Get Video URL", "type": "main", "index": 0 }]]
    },
    "Get Video URL": {
      "main": [[{ "node": "Get SOP Steps", "type": "main", "index": 0 }]]
    },
    "Get SOP Steps": {
      "main": [[{ "node": "Build Clip Request", "type": "main", "index": 0 }]]
    },
    "Build Clip Request": {
      "main": [[{ "node": "Call Clip Extractor", "type": "main", "index": 0 }]]
    },
    "Call Clip Extractor": {
      "main": [[{ "node": "Store Job ID", "type": "main", "index": 0 }]]
    },
    "Store Job ID": {
      "main": [[{ "node": "Wait 15s", "type": "main", "index": 0 }]]
    },
    "Wait 15s": {
      "main": [[{ "node": "Poll Clip Status", "type": "main", "index": 0 }]]
    },
    "Poll Clip Status": {
      "main": [[{ "node": "Check Job Status", "type": "main", "index": 0 }]]
    },
    "Check Job Status": {
      "main": [[{ "node": "Clip Job Done?", "type": "main", "index": 0 }]]
    },
    "Clip Job Done?": {
      "main": [
        [{ "node": "Process Clip Response", "type": "main", "index": 0 }],
        [{ "node": "Wait 15s", "type": "main", "index": 0 }]
      ]
    },
    "Process Clip Response": {
      "main": [[{ "node": "Split Clips", "type": "main", "index": 0 }]]
    },
    "Split Clips": {
      "main": [
        [{ "node": "Update Pipeline Run", "type": "main", "index": 0 }],
        [{ "node": "Insert Step Clip", "type": "main", "index": 0 }]
      ]
    },
    "Insert Step Clip": {
      "main": [[{ "node": "Split Clips", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "cf4a1001-ffff-4000-8000-000000000003",
  "meta": { "instanceId": "sop-platform-workflow-4" },
  "id": "workflow-4-extract-clips",
  "tags": []
}
