sop-platform/n8n-workflows/Saara - SOP_Workflow 5b - Generate Step Content + Sections.json
{
  "name": "Saara - SOP_Workflow 5b - Generate Step Content + Sections",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "wf5-0001-0001-4000-8000-000000000001",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-001",
              "name": "SUPABASE_URL",
              "value": "https://hzluuqhbkiblmojxgbab.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-002",
              "name": "SUPABASE_ANON_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDAyNDYsImV4cCI6MjA4OTM3NjI0Nn0.zJErIoi_PlbalqrwW30MtiF05Zxa1yH1MywVJAJMhGY",
              "type": "string"
            },
            {
              "id": "cfg-003",
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bHV1cWhia2libG1vanhnYmFiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgwMDI0NiwiZXhwIjoyMDg5Mzc2MjQ2fQ.YSNsIxY-pwMKOATmYvA1QkOccO2k_uxY7hb7QNL5x5o",
              "type": "string"
            },
            {
              "id": "cfg-004",
              "name": "GEMINI_API_KEY",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-0001-0002-4000-8000-000000000002",
      "name": "Setup Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.generating_sections"
            },
            {
              "name": "select",
              "value": "id,sop_id"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-0001-0003-4000-8000-000000000003",
      "name": "Poll Pending Step Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf5-0001-0004-4000-8000-000000000004",
      "name": "Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {},
      "id": "wf5-0001-0005-4000-8000-000000000005",
      "name": "No Work \u2014 Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const run = $input.first().json;\nconst config = $('Setup Config').first().json;\n\nreturn [{\n  json: {\n    pipeline_run_id: run.id,\n    sop_id: run.sop_id,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_ANON_KEY: config.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: config.SUPABASE_SERVICE_ROLE_KEY,\n    GEMINI_API_KEY: config.GEMINI_API_KEY\n  }\n}];"
      },
      "id": "wf5-0001-0006-4000-8000-000000000006",
      "name": "Extract Run Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/sop_steps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sop_id",
              "value": "={{ 'eq.' + $json.sop_id }}"
            },
            {
              "name": "description",
              "value": "is.null"
            },
            {
              "name": "frame_classification",
              "value": "eq.useful"
            },
            {
              "name": "select",
              "value": "id,sequence,timestamp_start,timestamp_end,gemini_description"
            },
            {
              "name": "order",
              "value": "sequence.asc"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-0001-0007-4000-8000-000000000007",
      "name": "Get Steps Needing Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf5-0001-0008-4000-8000-000000000008",
      "name": "Split Steps",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const step = $input.first().json;\nconst config = $('Extract Run Info').first().json;\n\nreturn [{\n  json: {\n    step_id: step.id,\n    sequence: step.sequence,\n    timestamp_start: step.timestamp_start,\n    timestamp_end: step.timestamp_end,\n    gemini_description: step.gemini_description || null,\n    sop_id: config.sop_id,\n    pipeline_run_id: config.pipeline_run_id,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_ANON_KEY: config.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: config.SUPABASE_SERVICE_ROLE_KEY,\n    GEMINI_API_KEY: config.GEMINI_API_KEY\n  }\n}];"
      },
      "id": "wf5-0001-0009-4000-8000-000000000009",
      "name": "Prepare Step Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/transcript_lines",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sop_id",
              "value": "={{ 'eq.' + $json.sop_id }}"
            },
            {
              "name": "timestamp_sec",
              "value": "={{ 'gte.' + $json.timestamp_start }}"
            },
            {
              "name": "timestamp_sec",
              "value": "={{ 'lte.' + ($json.timestamp_end ?? $json.timestamp_start + 300) }}"
            },
            {
              "name": "select",
              "value": "speaker,timestamp_sec,content"
            },
            {
              "name": "order",
              "value": "timestamp_sec.asc"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5-0001-0010-4000-8000-000000000010",
      "name": "Get Transcript Lines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const lines = $input.all().map(i => i.json);\nconst ctx = $('Prepare Step Context').first().json;\n\nconst minutes = (s) => {\n  const m = Math.floor(s / 60);\n  const sec = Math.floor(s % 60);\n  return `${m}:${sec.toString().padStart(2,'0')}`;\n};\n\nlet transcriptText;\nif (lines.length > 0) {\n  transcriptText = lines.map(l => `[${minutes(l.timestamp_sec)}] ${l.speaker}: ${l.content}`).join('\\n');\n} else if (ctx.gemini_description) {\n  transcriptText = `(No transcript available for this timestamp. Screen annotation: ${ctx.gemini_description})`;\n} else {\n  transcriptText = `(No transcript available. This is step ${ctx.sequence} of the procedure at timestamp ${minutes(ctx.timestamp_start)})`;\n}\n\nconst prompt = `You are creating a Standard Operating Procedure (SOP) from a Knowledge Transfer (KT) session recording for a hotel BPO process.\\n\\nFor Step ${ctx.sequence} (at video timestamp ${minutes(ctx.timestamp_start)}), generate the following based on the context below:\\n1. title: A concise action-oriented step title (max 8 words, starts with a verb like Open, Navigate, Update, Verify, Copy, etc.)\\n2. description: A clear 1-2 sentence instruction in imperative form describing exactly what to do\\n3. sub_steps: An array of 2-5 specific micro-actions in sequence\\n\\nContext for this step:\\n${transcriptText}\\n\\nRespond ONLY with valid JSON, no markdown, no code blocks:\\n{\"title\":\"...\",\"description\":\"...\",\"sub_steps\":[\"action 1\",\"action 2\"]}`;\n\nreturn [{\n  json: {\n    step_id: ctx.step_id,\n    sequence: ctx.sequence,\n    sop_id: ctx.sop_id,\n    pipeline_run_id: ctx.pipeline_run_id,\n    SUPABASE_URL: ctx.SUPABASE_URL,\n    SUPABASE_ANON_KEY: ctx.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: ctx.SUPABASE_SERVICE_ROLE_KEY,\n    GEMINI_API_KEY: ctx.GEMINI_API_KEY,\n    prompt\n  }\n}];"
      },
      "id": "wf5-0001-0011-4000-8000-000000000011",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $json.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json', maxOutputTokens: 8192 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf5-0001-0012-4000-8000-000000000012",
      "name": "Call Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst ctx = $('Build Gemini Prompt').first().json;\n\nlet parsed;\ntry {\n  const raw = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { title: `Step ${ctx.sequence}`, description: null, sub_steps: [] };\n}\n\nconst title = parsed.title || `Step ${ctx.sequence}`;\nconst description = parsed.description || null;\nconst sub_steps = Array.isArray(parsed.sub_steps) ? parsed.sub_steps : [];\n\nreturn [{\n  json: {\n    step_id: ctx.step_id,\n    sop_id: ctx.sop_id,\n    pipeline_run_id: ctx.pipeline_run_id,\n    SUPABASE_URL: ctx.SUPABASE_URL,\n    SUPABASE_ANON_KEY: ctx.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: ctx.SUPABASE_SERVICE_ROLE_KEY,\n    title,\n    description,\n    sub_steps\n  }\n}];"
      },
      "id": "wf5-0001-0013-4000-8000-000000000013",
      "name": "Parse Step Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        140
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/sop_steps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $json.step_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, description: $json.description, sub_steps: $json.sub_steps }) }}",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "wf5-0001-0014-4000-8000-000000000014",
      "name": "Update Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Setup Config').first().json.SUPABASE_URL }}/rest/v1/sops",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').first().json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Setup Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Run Info').first().json.sop_id }}"
            },
            {
              "name": "select",
              "value": "title,process_name,client_name,meeting_participants"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5v2-sect-001",
      "name": "Fetch SOP Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        480
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Setup Config').first().json.SUPABASE_URL }}/rest/v1/transcript_lines",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').first().json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Setup Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sop_id",
              "value": "={{ 'eq.' + $('Extract Run Info').first().json.sop_id }}"
            },
            {
              "name": "select",
              "value": "speaker,timestamp_sec,content"
            },
            {
              "name": "order",
              "value": "timestamp_sec.asc"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "id": "wf5v2-sect-002",
      "name": "Fetch Full Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const lines = $input.all().map(i => i.json);\nconst config = $('Extract Run Info').first().json;\nconst meta = $('Fetch SOP Metadata').first().json;\n\nconst minutes = (s) => {\n  const m = Math.floor(s / 60);\n  const sec = Math.floor(s % 60);\n  return `${m}:${sec.toString().padStart(2,'0')}`;\n};\n\nconst transcript = lines\n  .slice(0, 400)\n  .map(l => `[${minutes(l.timestamp_sec)}] ${l.speaker}: ${l.content}`)\n  .join('\\n');\n\nconst processName = meta.process_name || meta.title || 'Unknown Process';\nconst clientName = meta.client_name || 'Unknown Client';\nconst participants = Array.isArray(meta.meeting_participants)\n  ? meta.meeting_participants.join(', ')\n  : (meta.meeting_participants || 'Unknown');\n\nconst prompt = `You are generating structured SOP sections from a Knowledge Transfer (KT) session transcript for a hotel BPO (Business Process Outsourcing) process.\\n\\nProcess: ${processName}\\nClient: ${clientName}\\nParticipants: ${participants}\\n\\nFull transcript:\\n${transcript}\\n\\nBased on this transcript, generate the following SOP sections. Be specific and accurate — extract real information from the transcript, do not invent details.\\n\\nReturn ONLY valid JSON in this exact format (no markdown, no code blocks):\\n{\\n  \"purpose\": \"2-3 sentence description of the purpose, objective, and scope of this process\",\\n  \"inputs\": [\"what is needed to start this process\"],\\n  \"process_summary\": [\"high-level step 1\", \"high-level step 2\"],\\n  \"outputs\": [\"what is produced or delivered by this process\"],\\n  \"risks\": [{\"risk\": \"risk description\", \"impact\": \"High/Medium/Low\", \"mitigation\": \"how to mitigate\"}],\\n  \"training_prereqs\": [\"prerequisite knowledge or system access needed\"],\\n  \"software_access\": [{\"software\": \"system name\", \"access_level\": \"Read/Write/Admin\", \"purpose\": \"why needed\"}],\\n  \"comm_matrix_infomate\": [{\"role\": \"InfoMate team role\", \"responsibility\": \"their responsibility\", \"frequency\": \"Daily/Weekly/Monthly/Ad-hoc\"}],\\n  \"comm_matrix_client\": [{\"role\": \"client-side role\", \"responsibility\": \"their responsibility\", \"frequency\": \"Daily/Weekly/Monthly/Ad-hoc\"}],\\n  \"quality_params\": [{\"parameter\": \"quality metric\", \"target\": \"target value\", \"measurement\": \"how measured\"}],\\n  \"quality_sampling\": \"description of quality review sampling approach and percentage\",\\n  \"sow\": [{\"activity\": \"activity name\", \"description\": \"what InfoMate does\", \"owner\": \"InfoMate/Client/Both\"}],\\n  \"baseline_target\": [{\"metric\": \"metric name\", \"baseline\": \"current performance\", \"target\": \"desired target\"}],\\n  \"challenges\": \"description of known challenges, exceptions, or issues with this process\",\\n  \"improvements\": \"suggested process improvements or automation opportunities identified from the session\"\\n}`;\n\nreturn [{\n  json: {\n    sop_id: config.sop_id,\n    pipeline_run_id: config.pipeline_run_id,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_ANON_KEY: config.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: config.SUPABASE_SERVICE_ROLE_KEY,\n    GEMINI_API_KEY: config.GEMINI_API_KEY,\n    prompt\n  }\n}];"
      },
      "id": "wf5v2-sect-003",
      "name": "Build Sections Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $json.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.2, responseMimeType: 'application/json', maxOutputTokens: 16384 } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "wf5v2-sect-004",
      "name": "Call Gemini Sections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst ctx = $('Build Sections Prompt').first().json;\n\nconst SECTION_TEMPLATES = {\n  purpose:              { title: 'Purpose/Objective/Scope',               order: 1,  type: 'text' },\n  inputs:               { title: 'Input',                                  order: 2,  type: 'list' },\n  process_summary:      { title: 'Process Description',                    order: 3,  type: 'list' },\n  outputs:              { title: 'Output',                                  order: 4,  type: 'list' },\n  risks:                { title: 'Description of Risks',                    order: 5,  type: 'table' },\n  training_prereqs:     { title: 'Training Prerequisites',                  order: 6,  type: 'list' },\n  software_access:      { title: 'Software Applications/Access Levels',     order: 7,  type: 'table' },\n  comm_matrix_infomate: { title: 'Communication Matrix - InfoMate',         order: 10, type: 'table' },\n  comm_matrix_client:   { title: 'Communication Matrix - Client',           order: 11, type: 'table' },\n  quality_params:       { title: 'Quality Parameters',                      order: 13, type: 'table' },\n  quality_sampling:     { title: 'Quality Sampling Percentage',             order: 14, type: 'text' },\n  sow:                  { title: 'Detailed Statement of Work',              order: 15, type: 'table' },\n  baseline_target:      { title: 'Baselining and Target',                   order: 16, type: 'table' },\n  challenges:           { title: 'Challenges',                              order: 17, type: 'text' },\n  improvements:         { title: 'Process Improvements',                    order: 18, type: 'text' }\n};\n\nlet parsed;\ntry {\n  const raw = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {};\n}\n\nconst sections = [];\nfor (const [key, tmpl] of Object.entries(SECTION_TEMPLATES)) {\n  const value = parsed[key];\n  if (!value) continue;\n\n  const isText = tmpl.type === 'text';\n  const contentText = isText ? (typeof value === 'string' ? value : JSON.stringify(value)) : null;\n  const contentJson = !isText ? (Array.isArray(value) ? value : [value]) : null;\n\n  sections.push({\n    sop_id: ctx.sop_id,\n    section_key: key,\n    section_title: tmpl.title,\n    display_order: tmpl.order,\n    content_type: tmpl.type,\n    content_text: contentText,\n    content_json: contentJson,\n    SUPABASE_URL: ctx.SUPABASE_URL,\n    SUPABASE_ANON_KEY: ctx.SUPABASE_ANON_KEY,\n    SUPABASE_SERVICE_ROLE_KEY: ctx.SUPABASE_SERVICE_ROLE_KEY\n  });\n}\n\nreturn sections.map(s => ({ json: s }));"
      },
      "id": "wf5v2-sect-005",
      "name": "Parse Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        480
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "wf5v2-sect-006",
      "name": "Split Sections",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2880,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/sop_sections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sop_id: $json.sop_id, section_key: $json.section_key, section_title: $json.section_title, display_order: $json.display_order, content_type: $json.content_type, content_text: $json.content_text, content_json: $json.content_json }) }}",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "wf5v2-sect-007",
      "name": "Upsert Section",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Setup Config').first().json.SUPABASE_URL }}/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Setup Config').first().json.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Setup Config').first().json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ 'eq.' + $('Extract Run Info').first().json.pipeline_run_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'completed', current_stage: 'completed', completed_at: new Date().toISOString() }) }}",
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "wf5-0001-0017-4000-8000-000000000017",
      "name": "Mark Pipeline Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        480
      ]
    },
    {
      "parameters": {},
      "id": "wf5-0001-0018-4000-8000-000000000018",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3540,
        480
      ]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Setup Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Config": {
      "main": [
        [
          {
            "node": "Poll Pending Step Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Pending Step Content": {
      "main": [
        [
          {
            "node": "Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Pending?": {
      "main": [
        [
          {
            "node": "Extract Run Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work \u2014 Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Run Info": {
      "main": [
        [
          {
            "node": "Get Steps Needing Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Steps Needing Content": {
      "main": [
        [
          {
            "node": "Split Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Steps": {
      "main": [
        [
          {
            "node": "Fetch SOP Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Step Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Step Context": {
      "main": [
        [
          {
            "node": "Get Transcript Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript Lines": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini": {
      "main": [
        [
          {
            "node": "Parse Step Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Step Content": {
      "main": [
        [
          {
            "node": "Update Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Step": {
      "main": [
        [
          {
            "node": "Split Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SOP Metadata": {
      "main": [
        [
          {
            "node": "Fetch Full Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Transcript": {
      "main": [
        [
          {
            "node": "Build Sections Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sections Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini Sections": {
      "main": [
        [
          {
            "node": "Parse Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sections": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sections": {
      "main": [
        [
          {
            "node": "Mark Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Section": {
      "main": [
        [
          {
            "node": "Split Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Pipeline Complete": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-16T00:00:00.000Z",
  "versionId": "wf5b-version-001"
}